body {
  font-family: 'Montserrat', sans-serif;
  background-color: #7DA8A1;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom 0px left 0px;
  height: 100vh;
}

#scores {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.title {
  text-align: center;
  font-size: 3rem;
}

#guesscount {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 5%;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #FDDEA4;

}

#bestscore {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 5%;
  font-size: 2rem;
  margin-left: 1rem;
  background-color: #FDDEA4;

}

#gamediv {
  margin: 3% auto auto auto;
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
}

#game {
  opacity: 0;
  transition: opacity 2s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#game div {
  border-radius: 10px;
  width: 18%;
  height: 18%;
  margin: 1%;
  overflow: hidden;
}


#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  border-radius: 10px;
  height: 100px;
  width: 250px;
  margin-top: -50px;
  margin-left: -125px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background-image: url(anyasunglasses.jpg);
  background-size: 100% 100%;
 
}

#reset {
  border: 2px solid black;
  border-radius: 10px;
  padding: .5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 0;
  transition: opacity 2s;
  font-size: 2rem;
  color: black;
  background-color: #FDDEA4;
}

.hidden {
  visibility: collapse;
}

.disabled {
  pointer-events: none;
}

.topImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.red {
  background-image: url(yor.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blue {
  background-image: url(anya.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.green {
  background-image: url(loid.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.orange {
  background-image: url(bond.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.purple {
  background-image: url(sylvia.png);
  background-size: contain;
  background-repeat: no-repeat;
}